.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.menu {
  @include tablets() {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin: 0 rem(30px);
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.menu__item {
  margin-right: 1.688rem;

  &:last-child{
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.header__contacts {
  padding-top: 8px;

  @include tablets() {
    display: none;
  }
}
