.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 4px solid transparent;

  @include phones() {
    width: rem(64px);
    height: rem(64px);
  }

  &--active {
    border-color: #E01F3D;
  }
}

.interactive-avatar__link {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}